@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model KikoleSite.Api.Models.ProposalChart
<div style="margin-top: 10px">
    @localizer["Rules"]
</div>
<div style="margin-top: 10px">
    @localizer["ScoreIntro"]
    <ul>
        <li>@Html.Raw(string.Format(localizer["StarterPoints"].Value, Model.BasePoints))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessName"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Name)))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessClub"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Club)))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessCountry"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Country)))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessYear"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Year)))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessPosition"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Position)))</li>
        <li>@Html.Raw(string.Format(localizer["ClueGuess"].Value, Model.GetProposalTypesCost(KikoleSite.Api.Models.Enums.ProposalTypes.Clue)))</li>
        <li>@localizer["GoodGuess"]</li>
    </ul>
</div>
<h4 id="country-rules">@localizer["AboutCountry"]</h4>
@localizer["AboutCountryDetails"]