@model KikoleSite.Api.ProposalChart
<div style="margin-top: 10px">
    <p><span style="color: crimson; font-size: large">"Kikole?"</span> is a very simple game where you have to guess a new football player <span style="color: crimson">every day</span>.</p>
    <p>Your opponents have the same player to guess, so be the best and you'll appear on our <a href="/Leaderboard">leaderboard</a>!</p>
    <p>To find the player of the day, you can suggest his position, nationality, clubs or birth year. A starter clue is also given.</p>
    <p>Notice that the player can be active or retired, moreover feminine players are possible but quite rare.</p>
    <p>Fictional players (movies and such) are disallowed. As a rule of thumb, a player is eligible if he has a wikipedia entry in several languages.</p>
</div>
<div style="margin-top: 10px">
    Score is computed with following rules:
    <ul>
        <li>You start with <span style="color: forestgreen; font-size: large">@Model.BasePoints</span> points</li>
        <li>An incorrect player proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Name]</span> points</li>
        <li>An incorrect club proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Club]</span> points</li>
        <li>An incorrect country proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Country]</span> points</li>
        <li>An incorrect year proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Year]</span> points</li>
        <li>An incorrect position proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Position]</span> points</li>
        <li>A good guess on any category costs <span style="color: forestgreen; font-size: large">no points</span></li>
    </ul>
</div>