@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using KikoleSite.Models;
@using KikoleSite.Models.Enums;
<div class="mediumTopMargin">
    @localizer["Rules"]
</div>
<div class="mediumTopMargin">
    @localizer["ScoreIntro"]
    <ul>
        <li>@Html.Raw(string.Format(localizer["StarterPoints"].Value, ProposalChart.BasePoints))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessName"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Name].points))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessClub"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Club].points))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessContinent"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Continent].points))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessCountry"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Country].points))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessYear"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Year].points))</li>
        <li>@Html.Raw(string.Format(localizer["BadGuessPosition"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Position].points))</li>
        <li>@Html.Raw(string.Format(localizer["ClueGuess"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Clue].points))</li>
        <li>@Html.Raw(string.Format(localizer["GetLeaderboard"].Value, ProposalChart.ProposalTypesCost[ProposalTypes.Leaderboard].points))</li>
        <li>@localizer["GoodGuess"]</li>
    </ul>
</div>
<h4 id="country-rules">@localizer["AboutCountry"]</h4>
@localizer["AboutCountryDetails"]
<h4 id="clubs-rules">@localizer["AboutClubs"]</h4>
@localizer["AboutClubsDetails"]