@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ContactModel
<div>
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="redtext mediumTopMargin" style="font-size: large">
            @Model.ErrorMessage
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <div class="greentext mediumTopMargin" style="font-size: large">
            @Model.SuccessMessage
        </div>
    }
    <div class="mediumTopMargin">
        <label>@localizer["LoggedAs"] <span class="greentext">@Model.LoggedAs</span></label>
    </div>
    <h3>@localizer["ContactAdmin"]</h3>
    <form method="post" action="/Home/Contact">
        <div>
            <label>@localizer["YourEmail"]</label>
            <div>
                @Html.TextBoxFor(m => m.Email)
            </div>
            <label>@localizer["YourMessage"]</label>
            <div>
                @Html.TextAreaFor(m => m.Message)
            </div>
            <div>
                <input type="submit" value="@localizer["ToSend"]" />
            </div>
        </div>
    </form>
</div>