@model HomeModel
<div>
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div style="margin-top: 20px; color:crimson; font-size: large">
            @Model.Message
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.PlayerCreator))
    {
        <div style="margin-top: 20px; font-size: large">
            <span style="color: crimson">@Model.PlayerCreator</span> has challenged you to find the player of the day!
        </div>
    }
    @if (string.IsNullOrWhiteSpace(Model.LoggedAs))
    {
        <div style="margin-top: 10px">
            <span style="color: crimson; font-size: large">"Kikole?"</span> is a very simple game where you have to guess a new football player <span style="color: crimson">every day</span>.<br />
            Your opponents have the same player to guess, so be the best and you'll appear on our <a href="/Leaderboard">leaderboard</a>!<br />
            To find the player of the day, you can suggest his position, nationality, clubs or birth year. A starter clue is also given.<br />
            Notice that the player can be active or retired.
        </div>
        <div style="margin-top: 20px">
            <label>You are <a href="/Account"><span style="color: crimson">not logged</span></a></label>
        </div>
        <div style="margin-top: 10px">
            An account is mandatory to play, but it takes 10 seconds to create and no personal information are required!
        </div>
        <div style="margin-top: 60px">
            Score is computed with following rules:
            <ul>
                <li>You start with <span style="color: forestgreen; font-size: large">@Model.Chart.BasePoints</span> points</li>
                <li>An incorrect player proposition costs <span style="color: crimson; font-size: large">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Name]</span> points</li>
                <li>An incorrect club proposition costs <span style="color: crimson; font-size: large">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Club]</span> points</li>
                <li>An incorrect country proposition costs <span style="color: crimson; font-size: large">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Country]</span> points</li>
                <li>An incorrect year proposition costs <span style="color: crimson; font-size: large">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Year]</span> points</li>
                <li>An incorrect position proposition costs <span style="color: crimson; font-size: large">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Position]</span> points</li>
                <li>A good guess on any category costs <span style="color: forestgreen; font-size: large">no points</span></li>
            </ul>
        </div>
    }
    else
    {
        <div style="margin-top: 10px">
            <label>You are logged as <span style="color: forestgreen">@Model.LoggedAs</span></label>
        </div>
        <div style="margin-top: 10px">
            @if (!Model.NoPreviousDay)
            {
                <a href="/?day=@Model.PreviousDay">Previous day</a>
            }
            @if (Model.CurrentDay > 1)
            {
                <a href="/?day=@Model.NextDay">Next day</a>
            }
            else if (Model.CurrentDay == 1)
            {
                <a href="/?day=@Model.NextDay">Current day</a>
            }
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.PlayerName))
        {
            if (Model.IsCreator)
            {
                <div style="margin-top: 5px">
                    <label>Today's player is <span style="font-style: italic; color:crimson">@Model.PlayerName</span></label>
                </div>
            }
            else if (Model.CurrentDay == 0)
            {
                <div style="margin-top: 5px">
                    <label>Congratulations! The player was <span style="font-style: italic; color:crimson">@Model.PlayerName</span>. Come back tomorrow for a new player!</label>
                </div>
                <div>Your final score: <span style="font-style: italic; color:crimson">@Model.Points</span> points</div>
                @if (Model.Badges?.Count > 0)
                {
                    <div>You get the following badges:</div>
                    foreach (var badge in Model.Badges)
                    {
                        var color = !badge.Hidden ? "transparent" : "gold";
                        <div style="float: left; margin-top: 5px; width: 350px; min-height: 100px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: @color">
                            <div style="text-align:center;color: forestgreen; font-size: large">@badge.Name</div>
                            <div style="text-align:center">@badge.Description</div>
                            @if (!badge.Hidden)
                            {
                                <div style="text-align:center">Got the @badge.GetDate.ToString("yyyy-MM-dd")</div>
                            }
                            @if (@badge.Users == 1)
                            {
                                <div style="text-align:center; font-weight: bold">You're the <span style="color: crimson">only one</span> with this badge!</div>
                            }
                            else
                            {
                                var v = badge.Users - 1;
                                <div style="text-align:center"><span style="color: crimson">@v</span> other users have this badge</div>
                            }
                        </div>
                    }
                    <div style="clear: both" />
                }
            }
            else
            {
                <div style="margin-top: 5px">
                    <label>Congratulations! The player was <span style="font-style: italic; color:crimson">@Model.PlayerName</span>.</label>
                </div>
            }
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(Model.MessageToDisplay))
            {
                <div style="margin-top: 5px">
                    @if (Model.IsErrorMessage)
                    {
                        <label style="color:crimson">@Model.MessageToDisplay</label>
                    }
                    else
                    {
                        <label style="color:forestgreen">@Model.MessageToDisplay</label>
                    }
                </div>
            }
            @if (Model.CurrentDay == 0)
            {
                <div style="margin-top: 5px">Your current score: <span style="font-style: italic; color:crimson">@Model.Points</span> points</div>
            }
            <div style="margin-top: 30px; font-size: larger">
                Clue of the day: <span style="font-style:italic">@Model.Clue</span>
            </div>
            <form method="post" action="/">
                @Html.HiddenFor(m => m.CurrentDay)
                <fieldset style="margin-top: 30px">
                    <div>
                        <div>
                            <label>Clubs:</label>
                        </div>
                        <script>
                            $(function () {
                                $("#clubName").autocomplete({
                                    source: function (request, response) {
                                        $.ajax({
                                            url: '/Home/AutoCompleteClubs/',
                                            data: {
                                                "prefix": request.term
                                            },
                                            type: "POST",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#clubName").val(i.item.value);
                                        $("#submitClub").click();
                                    },
                                    minLength: 1
                                });
                            });
                        </script>
                        <div>
                            <input type="text" name="ClubNameSubmission" id="clubName" style="width: 300px" />
                            <input type="submit" value="Ok" name="submit-Club" id="submitClub" style="visibility:hidden; width: 0px" />
                            <span>(-<span style="color: crimson">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Club]</span> pts if incorrect)</span>
                        </div>
                        <div style="font-size: small">(one club at a time)</div>
                    </div>
                    @if (Model.KnownPlayerClubs?.Count > 0)
                    {
                        <div style="margin-top: 15px">
                            <label>Career club so far:</label>
                            <ul>
                                @foreach (var club in Model.KnownPlayerClubs)
                                {
                                    <li>@string.Format("{0} - {1}", club.HistoryPosition, club.Name)</li>
                                }
                            </ul>
                        </div>
                        <div style="font-size: small">(ordered from older to newer)</div>
                        <div style="font-size: small">(no duplicate in case the player comes back to a club he already played)</div>
                    }
                    @if (Model.IncorrectClubs?.Count > 0)
                    {
                        <div style="margin-top: 10px">
                            @foreach (var iClub in Model.IncorrectClubs)
                            {
                                <div style="font-size: small; text-decoration: line-through">@iClub</div>
                            }
                        </div>
                    }
                </fieldset>
            </form>
            <form method="post" action="/">
                @Html.HiddenFor(m => m.CurrentDay)
                <div style="margin-top: 30px">
                    <div>
                        <label>Nationality:</label>
                    </div>
                    @if (string.IsNullOrWhiteSpace(Model.CountryName))
                    {
                        <script>
                            $(function () {
                                $("#countryName").autocomplete({
                                    source: function (request, response) {
                                        $.ajax({
                                            url: '/Home/AutoCompleteCountries/',
                                            data: {
                                                "prefix": request.term
                                                // add languageID here
                                            },
                                            type: "POST",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#countryId").val(i.item.key);
                                        $("#submitCountry").click();
                                    },
                                    minLength: 1
                                });
                            });
                        </script>
                        <div>
                            <input type="text" id="countryName" name="CountryNameSubmissionValue" style="width: 300px" />
                            <input type="hidden" id="countryId" name="CountryNameSubmission" />
                            <input type="submit" value="Ok" id="submitCountry" name="submit-Country" style="visibility: hidden; width: 0px" />
                            <span>(-<span style="color: crimson">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Country]</span> pts if incorrect)</span>
                        </div>
                        <div style="font-size: small">(it's the nationality, not the national team he plays or played)</div>
                        @if (Model.IncorrectCountries?.Count > 0)
                        {
                            <div style="margin-top: 10px">
                                @foreach (var iCountry in Model.IncorrectCountries)
                                {
                                    <div style="font-size: small; text-decoration: line-through">@iCountry</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <label>@Model.CountryName</label>
                        </div>
                    }
                </div>
            </form>
            <form method="post" action="/">
                @Html.HiddenFor(m => m.CurrentDay)
                <div style="margin-top: 30px">
                    <div>
                        <label>Year of birth:</label>
                    </div>
                    @if (string.IsNullOrWhiteSpace(Model.BirthYear))
                    {
                        <div>
                            <script>
                                $(function () {
                                    var availableTags = [];
                                    for (var i = 1900; i <= 2010; i++)
                                        availableTags.push(i.toString());
                                    $("#birthYearValue").autocomplete({
                                        source: availableTags,
                                        select: function (e, i) {
                                            $("#birthYearValue").val(i.item.value);
                                            $("#submitYear").click();
                                        },
                                        minLength: 1
                                    });
                                });
                            </script>
                            <input type="text" id="birthYearValue" name="BirthYearSubmission" style="width: 100px" />
                            <input type="submit" value="Ok" id="submitYear" name="submit-Year" style="visibility:hidden; width: 0px" />
                            <span>(-<span style="color: crimson">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Year]</span> pts if incorrect)</span>
                        </div>
                        @if (Model.IncorrectYears?.Count > 0)
                        {
                            <div style="margin-top: 10px">
                                @foreach (var iYear in Model.IncorrectYears)
                                {
                                    <div style="font-size: small; text-decoration: line-through">@iYear</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <label>@Model.BirthYear</label>
                        </div>
                    }
                </div>
            </form>
            <form method="post" action="/">
                @Html.HiddenFor(m => m.CurrentDay)
                <div style="margin-top: 30px">
                    <div>
                        <label>Position:</label>
                    </div>
                    @if (string.IsNullOrWhiteSpace(Model.Position))
                    {
                        <div>
                            <script>
                                $(function () {
                                    $("#positionSubmission").on("change", function (e) {
                                        if ($("#positionSubmission").val() != "0") {
                                            $("#submitPosition").click();
                                        }
                                    });
                                });
                            </script>
                            @Html.DropDownListFor(m => m.PositionSubmission, Model.Positions, new { @style = "width: 150px", @id = "positionSubmission" })
                            <input type="submit" value="Ok" id="submitPosition" name="submit-Position" style="visibility:hidden; width: 0px" />
                            <span>(-<span style="color: crimson">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Position]</span> pts if incorrect)</span>
                        </div>
                        @if (Model.IncorrectPositions?.Count > 0)
                        {
                            <div style="margin-top: 10px">
                                @foreach (var iPosition in Model.IncorrectPositions)
                                {
                                    <div style="font-size: small; text-decoration: line-through">@iPosition</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <label>@Model.Position</label>
                        </div>
                    }
                </div>
            </form>
            <form method="post" action="/">
                @Html.HiddenFor(m => m.CurrentDay)
                <div style="margin-top: 60px">
                    <div>
                        <label style="color:crimson">Submit your player here:</label>
                    </div>
                    <div>
                        <input type="text" name="PlayerNameSubmission" value="@Model.PlayerNameSubmission" style="width: 300px; border-color: crimson" />
                        <input type="submit" value="Submit" name="submit-Name" style="visibility:hidden; width: 0px" />
                        <span>(-<span style="color: crimson">@Model.Chart.ProposalTypesCost[KikoleSite.Api.ProposalType.Name]</span> pts if incorrect)</span>
                    </div>
                    <div style="font-size: small">(lastname or nickname is enough in most cases; as a rule of thumb keep it simple)</div>
                </div>
                @if (Model.IncorrectNames?.Count > 0)
                {
                    <div style="margin-top: 10px">
                        @foreach (var iName in Model.IncorrectNames)
                        {
                            <div style="font-size: small; text-decoration: line-through">@iName</div>
                        }
                    </div>
                }
            </form>
        }
    }
</div>