@model MainModel
<div>
    <div style="margin-top: 10px">
        @if (string.IsNullOrWhiteSpace(Model.LoggedAs))
        {
            <label>You are <span style="color: crimson">not logged</span></label>
        }
        else
        {
            <label>You are logged as <span style="color: forestgreen">@Model.LoggedAs</span></label>
        }
    </div>
    <div style="margin-top: 10px">
        @if (!Model.NoPreviousDay)
        {
            <a href="/?day=@Model.PreviousDay">Previous day</a>
        }
        @if (Model.CurrentDay > 1)
        {
            <a href="/?day=@Model.NextDay">Next day</a>
        }
        else if (Model.CurrentDay == 1)
        {
            <a href="/?day=@Model.NextDay">Current day</a>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.PlayerName))
    {
        <div style="margin-top: 5px">
            <label>Congratulations! The player was <span style="font-style: italic; color:crimson">@Model.PlayerName</span>. Come back tomorrow for a new player!</label>
        </div>
        <div>Your final score: <span style="font-style: italic; color:crimson">@Model.Points</span> points</div>
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.MessageToDisplay))
        {
            <div style="margin-top: 5px">
                @if (Model.IsErrorMessage)
                {
                    <label style="color:crimson">@Model.MessageToDisplay</label>
                }
                else
                {
                    <label style="color:forestgreen">@Model.MessageToDisplay</label>
                }
            </div>
        }
        <div style="margin-top: 5px">Your current score: <span style="font-style: italic; color:crimson">@Model.Points</span> points</div>
        <form method="post" action="/">
            <fieldset style="margin-top: 30px">
                <div>
                    <div>
                        <label>Enters the name of a club:</label>
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.ClubNameSubmission, new { @style = "width: 300px" })
                        <input type="submit" value="Ok" name="submit-Club" style="visibility:hidden" />
                    </div>
                    <div style="font-size: small">(notice you can enter names forever, regardless as if the whole career has been found already)</div>
                </div>
                @if (Model.KnownPlayerClubs?.Count > 0)
                {
                    <div style="margin-top: 15px">
                        <label>Career club so far:</label>
                        <ul>
                            @foreach (var club in Model.KnownPlayerClubs)
                            {
                                <li>@string.Format("{0} - {1}", club.HistoryPosition, club.Name)</li>
                            }
                        </ul>
                    </div>
                    <div style="font-size: small">(no duplicate in case the player comes back to a club he already played)</div>
                }
            </fieldset>
        </form>
        <form method="post" action="/">
            <div style="margin-top: 30px">
                <div>
                    <label>Nationality:</label>
                </div>
                @if (string.IsNullOrWhiteSpace(Model.CountryName))
                {
                    <div>
                        @Html.DropDownListFor(m => m.CountryNameSubmission, Model.Countries.Select(x => new SelectListItem(x.Value, x.Key.ToString())), new { @style = "width: 300px" })
                        <input type="submit" value="Ok" name="submit-Country" />
                    </div>
                    <div style="font-size: small">(for players with double nationality, it's the one with int. selections)</div>
                }
                else
                {
                    <div>
                        <label>@Model.CountryName</label>
                    </div>
                }
            </div>
        </form>
        <form method="post" action="/">
            <div style="margin-top: 30px">
                <div>
                    <label>Year of birth:</label>
                </div>
                @if (string.IsNullOrWhiteSpace(Model.BirthYear))
                {
                    <div>
                        @Html.DropDownListFor(m => m.BirthYearSubmission, Enumerable.Range(1900, 110).Select(x => new SelectListItem(x.ToString(), x.ToString())), new { @style = "width: 300px" })
                        <input type="submit" value="Ok" name="submit-Year" />
                    </div>
                }
                else
                {
                    <div>
                        <label>@Model.BirthYear</label>
                    </div>
                }
            </div>
        </form>
        <form method="post" action="/">
            <div style="margin-top: 30px">
                <div>
                    <label>Clue:</label>
                </div>
                <div>
                    @if (string.IsNullOrWhiteSpace(Model.Clue))
                    {
                        <div>
                            <span style="width: 300px; display: inline-block">Use the following to get a clue:</span>
                            <input type="submit" value="Ok" name="submit-Clue" />
                        </div>
                    }
                    else
                    {
                        <div>
                            <label>@Model.Clue</label>
                        </div>
                    }
                </div>
            </div>
        </form>
        <form method="post" action="/">
            <div style="margin-top: 60px">
                <div>
                    <label style="color:crimson">Submit your player here:</label>
                </div>
                <div>
                    @Html.TextBoxFor(m => m.PlayerNameSubmission, new { @style = "width: 300px" })
                    <input type="submit" value="Submit" name="submit-Name" style="visibility:hidden" />
                </div>
            </div>
        </form>
    }
</div>