@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Context.Request.Cookies.TryGetValue(
        Microsoft.AspNetCore.Localization.CookieRequestCultureProvider.DefaultCookieName,
        out var currentLng);

    var flagPath = currentLng == "c=en|uic=en"
        ? "/images/FR-France-Flag-icon.png"
        : "/images/GB-United-Kingdom-Flag-icon.png";

    var redirectUrl = System.Web.HttpUtility.UrlEncode(Context.Request.Path.Value);
    if (Context.Request.QueryString.HasValue)
        redirectUrl = $"{redirectUrl}{System.Web.HttpUtility.UrlEncode(Context.Request.QueryString.Value)}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kikole?</title>

    <link rel="stylesheet" href="~/css/site.css?v=1" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a style="padding: 15px 13px" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@localizer["SiteName"]</a>
                <a style="padding: 15px 13px" asp-area="" asp-controller="Account" asp-action="Index" class="navbar-brand">@localizer["Account"]</a>
                <a style="padding: 15px 13px" asp-area="" asp-controller="Leaderboard" asp-action="Index" class="navbar-brand">@localizer["Leaderboard"]</a>
                <a style="padding: 15px 12px" href="/Home/SwitchLang?redirect=@redirectUrl" class="navbar-brand">
                    <img style="width: 25px; height: 25px" src="@flagPath" />
                </a>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                <a href="/Admin">@localizer["SubmitKikole"]</a>  |
                <a href="/Home/Contact">@localizer["ContactAdmin"]</a>  |
                <a href="https://monpetittricycle.fr" target="_blank">@localizer["FriendlyWebsite"]</a>  |
                &copy; @System.DateTime.Now.ToString("yyyy") - @localizer["SiteName"]
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <script src="~/js/site.js?v=1" asp-append-version="true"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
