@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ChallengeModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div style="color:crimson; margin-top: 10px">@Model.ErrorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(Model.InfoMessage))
{
    <div style="color:forestgreen; margin-top: 10px">@Model.InfoMessage</div>
}

<h3>@localizer["ChallengeProgress"]</h3>
@if (Model.TodayChallenge != null)
{
    <div>@Html.Raw(string.Format(localizer["ChallengeAgainst"].Value, Model.TodayChallenge.OpponentLogin, Model.TodayChallenge.PointsRate))</div>
}
else
{
    <div>@localizer["NoChallengeToday"]</div>
}

<h3>@localizer["ChallengeSchedule"]</h3>
@if (Model.AcceptedChallenges?.Count > 0)
{
    <table style="margin-top: 10px">
        <thead>
            <tr>
                <th style="width: 100px">@localizer["Date"]</th>
                <th style="width: 180px">@localizer["Opponent"]</th>
                <th style="width: 80px">@localizer["Initiated"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var c in Model.AcceptedChallenges)
            {
                var background = i % 2 == 0 ? "white" : "azure";
                <tr style="background-color: @background">
                    <td>@c.ChallengeDate.Value.ToNaString()</td>
                    <td style="font: bold">@c.OpponentLogin</td>
                    <td>@c.Initiated.ToYesNo()</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
else
{
    <div>@localizer["NoChallengeSchedule"]</div>
}

<h3>@localizer["ChallengeOppose"]</h3>
@if (Model.WaitingForResponseChallenges?.Count > 0)
{
    <form method="post" action="/Challenge">
        <div>
            @Html.DropDownListFor(m => m.SelectedChallengeId, Model.WaitingForResponseChallenges.Select(m => new SelectListItem(string.Format(localizer["ChallengeResume"].Value, m.OpponentLogin, m.PointsRate), m.Id.ToString())), new { @style = "width: 200px" })
            <input value="@localizer["Accept"]" type="submit" name="submit-acceptchallenge" />
            <input value="@localizer["Refuse"]" type="submit" name="submit-refusechallenge" />
        </div>
    </form>
}
else
{
    <div>@localizer["NoChallengeOppose"]</div>
}

<h3>@localizer["ChallengeRequest"]</h3>
@if (Model.RequestedChallenges?.Count > 0)
{
    <form method="post" action="/Challenge">
        <div>
            @Html.DropDownListFor(m => m.SelectedChallengeId, Model.RequestedChallenges.Select(m => new SelectListItem(string.Format(localizer["ChallengeResume"].Value, m.OpponentLogin, m.PointsRate), m.Id.ToString())), new { @style = "width: 200px" })
            <input value="@localizer["Cancel"]" type="submit" name="submit-cancelchallenge" />
        </div>
    </form>
}
else
{
    <div>@localizer["NoChallengeRequest"]</div>
}

<h3>@localizer["DoChallenge"]</h3>
<form method="post" action="/Challenge">
    <div>
        <div style="margin-top: 5px">
            <label style="width: 100px">@localizer["OpponentSet"]</label>
            @Html.DropDownListFor(m => m.SelectedUserId, Model.Users.Select(m => new SelectListItem(m.Login, m.Id.ToString())), new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label style="width: 100px">@localizer["PointsRate"]</label>
            @Html.DropDownListFor(m => m.PointsRate, Enumerable.Range(1, 10).Select(i => new SelectListItem((i * 10).ToString(), (i * 10).ToString())), new { @style = "width: 75px" })
            <span style="font-size: small">(@localizer["GambleTip"])</span>
        </div>
        <div style="margin-top: 5px">
            <input value="@localizer["Challenge"]" type="submit" name="submit-createchallenge" />
        </div>
    </div>
</form>

<h3>@localizer["HowToChallenge"]</h3>
@Html.Raw(localizer["ChallengeLaius"].Value)

<h3>@localizer["ChallengeHistory"]</h3>
@if (Model.ChallengesHistory?.Count > 0)
{
    <table style="margin-top: 10px">
        <thead>
            <tr>
                <th style="width: 100px">@localizer["Date"]</th>
                <th style="width: 180px">@localizer["Opponent"]</th>
                <th style="width: 80px">@localizer["Initiated"]</th>
                <th style="width: 80px">@localizer["Results"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var c in Model.ChallengesHistory)
            {
                var background = i % 2 == 0 ? "white" : "azure";
                var color = c.HostPointsDelta != 0
                    ? (c.HostPointsDelta > 0 ? "forestgreen" : "crimson")
                    : "black";
                <tr style="background-color: @background">
                    <td>@c.ChallengeDate.Value.ToNaString()</td>
                    <td style="font: bold">@c.OpponentLogin</td>
                    <td>@c.Initiated.ToYesNo()</td>
                    <td style="font: bold; color: @color">@c.HostPointsDelta</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
else
{
    <div>@localizer["NoChallengeHistory"]</div>
}