@model KikoleSite.ViewDatas.ChronologyCanvasViewData
@{ 
    var gameId = (int)Model.Game;
    var typeId = (int)Model.ChronologyType;
    var engineIdJs = Model.Engine.HasValue ? ((int)Model.Engine).ToString() : "null";
    var playerIdJs = Model.PlayerId.HasValue ? Model.PlayerId.ToString() : "null";
    var anonymiseJs = Model.Anonymise ? 1 : 0;
    var totalWidth = KikoleSite.ViewDatas.ChronologyCanvasViewData.TotalWidth;
    var leftImgWidth = 75;
    var height = 48;
    var height3 = height / 3;
    var gridLeftMargin = $"-{((totalWidth + leftImgWidth) / 2)}px";
    var loaderSize = 256;
    var loaderMargin = $"-{(loaderSize / 2)}px";
}
<html>
    <head>
        <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body style="background-color: black">
        <img id="loading-image" width="@loaderSize" height="@loaderSize" src="/images/elite/ajax-loader.gif" style="display: none; position: absolute; left: 50%; top: 50%; margin-left: @loaderMargin; margin-top: @loaderMargin;" />
        <table id="main-grid" style="position: absolute; left: 50%; margin-left: @gridLeftMargin; ">
            @foreach (var stage in Model.StageImages.Keys)
            {
                @if (Model.IsFullStage)
                {
                    <tr>
                        <td>
                            <img width="@leftImgWidth" height="@height" src="@Model.StageImages[stage]" title="@stage" />
                        </td>
                        <td>
                            @{
                                var canvasId = $"stage-{(int)stage}-canvas";
                            }
                            <canvas id="@canvasId" width="@totalWidth" height="@height" />
                        </td>
                    </tr>
                }
                else
                {
                    for (var i = 1; i <= 3; i++)
                    {
                        <tr>
                            @if (i == 1)
                            {
                                <td rowspan="3">
                                    <img width="75" height="@height" src="@Model.StageImages[stage]" title="@stage" />
                                </td>
                            }
                            <td>
                                @{
                                    var canvasId = $"stage-{(int)stage}-{i}-canvas";
                                }
                                <canvas id="@canvasId" width="@totalWidth" height="@height3" />
                            </td>
                        </tr>
                    }
                }
            }
        </table>
        <script>
            $(function () {
                $.ajax({
                    url: '/the-elite/games/@gameId/chronology-types/@typeId/data',
                    data: {
                        "engine": @engineIdJs,
                        "playerId": @playerIdJs,
                        "anonymise": @anonymiseJs,
                    },
                    type: "GET",
                    dataType: "json",
                    beforeSend: function () {
                        $("#loading-image").show();
                        $("#main-grid").hide();
                    },
                    success: function (data) {
                        data.forEach(e => {
                            var canvasName = "stage-" + e.stage + "-canvas";
                            var height = @height;
                            if (e.level) {
                                canvasName = "stage-" + e.stage + "-" + e.level + "-canvas";
                                height = @height3;
                            }
                            var width = Math.round(e.days / @Model.TotalDays * @totalWidth);
                            var x = Math.round(e.daysBefore / @Model.TotalDays * @totalWidth);
                            var c = document.getElementById(canvasName);
                            var ctx = c.getContext("2d");
                            ctx.fillStyle = "#" + e.color;
                            ctx.globalAlpha = e.opacity;
                            ctx.fillRect(x, 0, width, height);
                        });
                        $("#loading-image").hide();
                        $("#main-grid").show();
                    },
                    error: function (data) {
                        alert('Call error: ' + JSON.stringify(data));
                    }
                });
            });
        </script>
    </body>
</html>