@model KikoleSite.ViewDatas.SimulatedRankingViewData

<div class="dual-box" style="width: 449px">
    <h2>Point Rankings</h2>
    <div id="point-rankings">
        <table>
            <tbody>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>@Model.EasyShortLabel</th>
                    <th>@Model.MediumShortLabel</th>
                    <th>@Model.HardShortLabel</th>
                    <th>Total</th>
                </tr>
                @foreach (var item in Model.PointsRankingEntries)
                {
                    <tr>
                        <td class="rank">@item.Rank</td>
                        <td>
                            <!-- TODO: flag -->
                            <!--<div class="flag f16 US"></div>-->
                            <a style="color:#@item.PlayerColor">@item.PlayerName</a>
                        </td>
                        <td>@item.EasyPoints</td>
                        <td>@item.MediumPoints</td>
                        <td>@item.HardPoints</td>
                        <td class="sorted"><strong>@item.TotalPoints</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="dual-box last" style="width: 449px">
    <h2>Time Rankings</h2>
    <div id="time-rankings">
        <table>
            <tbody>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>@Model.EasyShortLabel</th>
                    <th>@Model.MediumShortLabel</th>
                    <th>@Model.HardShortLabel</th>
                    <th>Total</th>
                </tr>
                @foreach (var item in Model.TimeRankingEntries)
                {
                    <tr>
                        <td class="rank">@item.Rank</td>
                        <td>
                            <!-- TODO: flag -->
                            <!--<div class="flag f16 US"></div>-->
                            <a style="color:#@item.PlayerColor">@item.PlayerName</a>
                        </td>
                        <td>@item.EasyTime.ToString(item.EasyTime.TotalMinutes >= 60 ? "c" : @"mm\:ss")</td>
                        <td>@item.MediumTime.ToString(item.MediumTime.TotalMinutes >= 60 ? "c" : @"mm\:ss")</td>
                        <td>@item.HardTime.ToString(item.HardTime.TotalMinutes >= 60 ? "c" : @"mm\:ss")</td>
                        <td class="sorted"><strong>@item.TotalTime.ToString("c")</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>