@model AccountModel

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div style="color:crimson; margin-top: 10px">Error: @Model.Error</div>
}
else if (!string.IsNullOrWhiteSpace(Model.SuccessInfo))
{
    <div style="color:forestgreen; margin-top: 10px">@Model.SuccessInfo</div>
}

@if (Model.IsAuthenticated)
{
    <h3>Log out</h3>
    <form method="post" action="/Account">
        <div>You're logged under the account <span style="color:crimson">@Model.Login</span></div>
        <input type="submit" value="Log out" name="submit-logoff" />
    </form>

    <h3>Change password</h3>
    <form method="post" action="/Account">
        <div>
            <label style="width: 200px">Current password:</label>
            @Html.PasswordFor(m => m.PasswordSubmission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">New password:</label>
            @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Repeat new password:</label>
            @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
        </div>
        <input type="submit" value="Update" name="submit-changepassword" />
    </form>

    <h3>Change recovery Q and A</h3>
    <form method="post" action="/Account">
        <div>
            <label style="width: 200px">Password recovery Q:</label>
            @Html.TextBoxFor(m => m.RecoveryQCreate, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Password recovery A:</label>
            @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
        </div>
        <input type="submit" value="Update" name="submit-resetqanda" />
    </form>
}
else
{
    <h3>Log in</h3>
    <form method="post" action="/Account">
        <div>
            <label style="width: 200px">Login:</label>
            @Html.TextBoxFor(m => m.LoginSubmission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Password:</label>
            @Html.PasswordFor(m => m.PasswordSubmission, new { @style = "width: 200px" })
        </div>
        <input type="submit" value="Login" name="submit-login" />
    </form>

    <h3>Create an account</h3>
    <form method="post" action="/Account">
        <div>
            <label style="width: 200px">Login:</label>
            @Html.TextBoxFor(m => m.LoginCreateSubmission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Password:</label>
            @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Repeat password:</label>
            @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
        </div>
        <div>
            <label style="width: 200px">Password recovery Q:</label>
            @Html.TextBoxFor(m => m.RecoveryQCreate, new { @style = "width: 200px" })
        </div>
        <div style="font-size: small">Optionnal, but if you lose your password, the answer to this question might save you!</div>
        <div>
            <label style="width: 200px">Password recovery A:</label>
            @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
        </div>
        <div style="font-size: small">Optionnal, answer to the question above.</div>
        <input type="submit" value="Create" name="submit-create" />
    </form>

    <h3>Change forgotten password with secret question</h3>
    <form method="post" action="/Account">
        @if (string.IsNullOrWhiteSpace(Model.QuestionRecovery))
        {
            <div>
                <label style="width: 200px">Login to recover:</label>
                @Html.TextBoxFor(m => m.LoginRecoverySubmission, new { @style = "width: 200px" })
            </div>
            <input type="submit" value="Update" name="submit-getloginquestion" />
        }
        else
        {
            <div>
                <label style="width: 200px">Login to recover:</label>
                <label style="width: 200px">@Model.LoginRecoverySubmission</label>
                @Html.HiddenFor(m => m.LoginRecoverySubmission)
            </div>
            <div>
                <label style="width: 200px">Question:</label>
                <label style="width: 200px">@Model.QuestionRecovery</label>
            </div>
            <div>
                <label style="width: 200px">Answer:</label>
                @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
            </div>
            <div>
                <label style="width: 200px">New password:</label>
                @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
            </div>
            <div>
                <label style="width: 200px">Repeat new password:</label>
                @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
            </div>
            <input type="submit" value="Update" name="submit-resetpassword" />
        }
    </form>
}