@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AccountModel

@if (!string.IsNullOrWhiteSpace(Model.Error))
{
    <div class="redtext" style="margin-top: 10px; font-weight: bold">@Model.Error</div>
}
else if (!string.IsNullOrWhiteSpace(Model.SuccessInfo))
{
    <div class="greentext" style="margin-top: 10px; font-weight: bold">@Model.SuccessInfo</div>
}

@if (Model.IsAuthenticated)
{
    <h3>@localizer["LogOut"]</h3>
    <form method="post" action="/Account">
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["LoggedAs"]</label>
            <label class="redtext" style="width: 200px">@Model.Login</label>
        </div>
        <label style="width: 150px;"></label>
        <input type="submit" value="@localizer["LogOut"]" name="submit-logoff" style="margin-top: 5px" />
    </form>

    <h3>@localizer["ChangePassword"]</h3>
    <form method="post" action="/Account">
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["CurrentPwd"]</label>
            @Html.PasswordFor(m => m.PasswordSubmission, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["NewPwd"]</label>
            @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RepeatPwd"]</label>
            @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
        </div>
        <label style="width: 150px;"></label>
        <input type="submit" value="@localizer["Update"]" name="submit-changepassword" style="margin-top: 5px" />
    </form>

    <h3>@localizer["ChangeQAndA"]</h3>
    <form method="post" action="/Account">
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RecQuestion"]</label>
            @Html.TextBoxFor(m => m.RecoveryQCreate, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RecAnswer"]</label>
            @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
        </div>
        <label style="width: 150px;"></label>
        <input type="submit" value="@localizer["Update"]" name="submit-resetqanda" style="margin-top: 5px" />
    </form>
}
else
{
    <h3>@localizer["LogIn"]</h3>
    <form method="post" action="/Account">
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["SetLogin"]</label>
            @Html.TextBoxFor(m => m.LoginSubmission, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["SetPwd"]</label>
            @Html.PasswordFor(m => m.PasswordSubmission, new { @style = "width: 200px" })
        </div>
        <label style="width: 150px;"></label>
        <input type="submit" value="@localizer["LogIn"]" name="submit-login" style="margin-top: 5px" />
    </form>

    <h3>@localizer["CreateAccount"]</h3>
    <form method="post" action="/Account">
        <p><a href="/Home/Contest">@localizer["FreeRegistrationClosed"]</a></p>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["SetRegistrationId"]</label>
            @Html.TextBoxFor(m => m.RegistrationId, new { @style = "width: 200px" })
        </div>
        <div style="font-size: small; margin-top: 5px">@localizer["TipRegistrationId"]</div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["SetLogin"]</label>
            @Html.TextBoxFor(m => m.LoginCreateSubmission, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["SetPwd"]</label>
            @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RepeatPwd"]</label>
            @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
        </div>
        <div style="font-size: small; margin-top: 5px">@localizer["TipRecovery"]</div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RecQuestion"]</label>
            @Html.TextBoxFor(m => m.RecoveryQCreate, new { @style = "width: 200px" })
        </div>
        <div style="margin-top: 5px">
            <label class="mainFormSectionLabel">@localizer["RecAnswer"]</label>
            @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
        </div>
        <label style="width: 150px;"></label>
        <input type="submit" value="@localizer["Create"]" name="submit-create" style="margin-top: 5px" />
    </form>

    <h3>@localizer["GetPwdByQuestion"]</h3>
    <form method="post" action="/Account">
        @if (string.IsNullOrWhiteSpace(Model.QuestionRecovery))
        {
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["LoginRecover"]</label>
                @Html.TextBoxFor(m => m.LoginRecoverySubmission, new { @style = "width: 200px" })
            </div>
            <label style="width: 150px;"></label>
            <input type="submit" value="@localizer["Update"]" name="submit-getloginquestion" style="margin-top: 5px; visibility: hidden" />
        }
        else
        {
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["LoginRecover"]</label>
                <label class="redtext" style="width: 200px">@Model.LoginRecoverySubmission</label>
                @Html.HiddenFor(m => m.LoginRecoverySubmission)
            </div>
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["RecQuestion"]</label>
                <label style="width: 200px">@Model.QuestionRecovery</label>
            </div>
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["RecAnswer"]</label>
                @Html.PasswordFor(m => m.RecoveryACreate, new { @style = "width: 200px" })
            </div>
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["NewPwd"]</label>
                @Html.PasswordFor(m => m.PasswordCreate1Submission, new { @style = "width: 200px" })
            </div>
            <div style="margin-top: 5px">
                <label class="mainFormSectionLabel">@localizer["RepeatPwd"]</label>
                @Html.PasswordFor(m => m.PasswordCreate2Submission, new { @style = "width: 200px" })
            </div>
            <label style="width: 150px;"></label>
            <input type="submit" value="@localizer["Update"]" name="submit-resetpassword" style="margin-top: 5px" />
        }
    </form>
}