@model LeaderboardModel

<h4>Best players of the month by points</h4>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: gold">
    <div style="text-align:center; font-weight: bolder">carokann33</div>
    <div style="text-align:center">15375 points</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: silver">
    <div style="text-align:center; font-weight: bolder">naxou33</div>
    <div style="text-align:center">13900 points</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: sandybrown">
    <div style="text-align:center; font-weight: bolder">zzr18</div>
    <div style="text-align:center">12475 points</div>
</div>
<div style="clear: both" />

<h4>Best players of the month by time</h4>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: gold">
    <div style="text-align:center; font-weight: bolder">hamza</div>
    <div style="text-align:center">3 minutes (Figo)</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: silver">
    <div style="text-align:center; font-weight: bolder">carokann33</div>
    <div style="text-align:center">4 minutes (Loko)</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: sandybrown">
    <div style="text-align:center; font-weight: bolder">girox64</div>
    <div style="text-align:center">5 minutes (Bonucci)</div>
</div>
<div style="clear: both" />

<h4>Best players of the month by kikolés found</h4>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: gold">
    <div style="text-align:center; font-weight: bolder">girox64</div>
    <div style="text-align:center">21 kikolés</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: silver">
    <div style="text-align:center; font-weight: bolder">dt20</div>
    <div style="text-align:center">20 kikolés</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: sandybrown">
    <div style="text-align:center; font-weight: bolder">naxou33 / carokann33</div>
    <div style="text-align:center">19 kikolés</div>
</div>
<div style="clear: both" />

<h4>Hardest kikolés of the month</h4>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: gold">
    <div style="text-align:center; font-weight: bolder">Abou Diaby</div>
    <div style="text-align:center">303 pts / player</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: silver">
    <div style="text-align:center; font-weight: bolder">Sergio Busquets</div>
    <div style="text-align:center">352 pts / player</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: sandybrown">
    <div style="text-align:center; font-weight: bolder">Rio Ferdinand</div>
    <div style="text-align:center">390 pts / player</div>
</div>
<div style="clear: both" />

<h4>Easiest kikolés of the month</h4>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: gold">
    <div style="text-align:center; font-weight: bolder">Luís Figo</div>
    <div style="text-align:center">934 pts / player</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: silver">
    <div style="text-align:center; font-weight: bolder">Adriano</div>
    <div style="text-align:center">812 pts / player</div>
</div>
<div style="float: left; margin-top: 5px; width: 250px; min-height: 50px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%; background-color: sandybrown">
    <div style="text-align:center; font-weight: bolder">Youri Djorkaeff</div>
    <div style="text-align:center">802 pts / player</div>
</div>
<div style="clear: both" />

<br />

<form action="/Leaderboard" method="post">
    <h3>Customize leaderboard</h3>
    <div style="margin-top: 5px">
        <label style="width: 100px; text-align: right">Sort type:</label>
        @Html.DropDownListFor(m => m.SortType, Model.SortTypes.Select(x => new SelectListItem(x.ToString(), x.ToString())))
    </div>
    <div style="margin-top: 5px">
        <label style="width: 100px; text-align: right">From date:</label>
        @Html.EditorFor(m => m.MinimalDate)
    </div>
    <div style="margin-top: 5px">
        <label style="width: 100px; text-align: right">To date:</label>
        @Html.EditorFor(m => m.MaximalDate)
    </div>
    <div style="margin-top: 5px">
        <label style="width: 100px; text-align: right">PVP ranking:</label>
        @Html.CheckBoxFor(m => m.IncludePvp)
    </div>
    <div style="margin-top: 5px">
        <input type="submit" value="Get ranking" />
    </div>

    <h3>@Model.BoardName leaderboard</h3>
    <span>(by @Model.SortType, from @Model.MinimalDate.ToString("yyyy-MM-dd") to @Model.MaximalDate.ToString("yyyy-MM-dd"))</span>
    <table style="margin-top: 5px">
        <thead>
            <tr>
                <th style="width: 50px">Pos.</th>
                <th style="color: crimson; width: 150px">Username</th>
                <th style="width: 100px">Points</th>
                @if (!Model.IncludePvp)
                {
                    <th style="width: 100px">Best time</th>
                    <th>Players found</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var leader in Model.Leaders)
            {
                var background = i % 2 == 0 ? "white" : "azure";
                <tr style="background-color: @background">
                    <td>@leader.Position</td>
                    <td style="color: crimson"><a href="/Leaderboard?userId=@leader.UserId">@leader.Login</a></td>
                    <td>@leader.TotalPoints</td>
                    @if (!Model.IncludePvp)
                    {
                        <td>@leader.BestTime.ToString(@"hh\:mm")</td>
                        <td>@leader.SuccessCount</td>
                    }
                </tr>
                i++;
            }
        </tbody>
    </table>

    <h3>Daily leaderboard</h3>
    @Html.EditorFor(m => m.LeaderboardDay)
    @Html.DropDownListFor(m => m.DaySortType, Model.DaySortTypes.Select(x => new SelectListItem(x.ToString(), x.ToString())))
    <input type="submit" value="Ok" />
    <table style="margin-top: 5px">
        <thead>
            <tr>
                <th style="width: 50px">Pos.</th>
                <th style="color: crimson; width: 150px">Username</th>
                <th style="width: 100px">Time</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            @{
                i = 0;
            }
            @foreach (var leader in Model.TodayLeaders)
            {
                var background = i % 2 == 0 ? "white" : "azure";
                <tr style="background-color: @background">
                    <td>@leader.Position</td>
                    <td style="color: crimson"><a href="/Leaderboard?userId=@leader.UserId">@leader.Login</a></td>
                    <td>@leader.BestTime.ToString(@"hh\:mm")</td>
                    <td>@leader.TotalPoints</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</form>