@using KikoleSite.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LeaderboardModel

<h3>@localizer["DailyLeaderboard"]</h3>
<div class="smallTopMargin">
    <label class="mainFormSectionLabelSmall">@localizer["SortType"]</label>
    @Html.DropDownListFor(m => m.DaySortType, Model.DaySortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
</div>
<div class="smallTopMargin">
    <label class="mainFormSectionLabelSmall">@localizer["Date"]</label>
    @Html.EditorFor(m => m.LeaderboardDay)
</div>
<table id="dailyLeaderboardTable" class="smallTopMargin">
    <thead>
        <tr>
            <th class="tabDataHead">@localizer["PosShortHeader"]</th>
            <th class="tabDataHead redtext">@localizer["UsernameHeader"]</th>
            <th class="tabDataHead">@localizer["TimeHeader"]</th>
            <th class="tabDataHead">@localizer["PointsHeader"]</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Dayboard.Hidden)
        {
            var i = 0;
            var lastRank = 1;
            foreach (var leader in Model.Dayboard.Leaders)
            {
                var trClass = leader.IsCreator ? "creator" : (i % 2 == 0 ? "even" : "odd");
                <tr class="@trClass">
                    <td class="tabData">@leader.Rank</td>
                    <td class="tabData redtext"><a href="/Leaderboard?userId=@leader.UserId">@leader.UserName</a></td>
                    <td class="tabData">@leader.TimeString</td>
                    <td class="tabData"><a href="/Leaderboard/UserDay?userId=@leader.UserId&date=@Model.Dayboard.Date.ToString("yyyy-MM-dd")">@leader.Points</a></td>
                </tr>
                lastRank = leader.Rank + 1;
                i++;
            }
            foreach (var search in Model.Dayboard.Searchers)
            {
                var trClass = i % 2 == 0 ? "even" : "odd";
                <tr class="@trClass">
                    <td class="tabData">@lastRank</td>
                    <td class="tabData redtext"><a href="/Leaderboard?userId=@search.UserId">@search.UserName</a></td>
                    <td class="tabData">@localizer["NotYetTime"]</td>
                    <td class="tabData"><a href="/Leaderboard/UserDay?userId=@search.UserId&date=@Model.Dayboard.Date.ToString("yyyy-MM-dd")">(@search.Points)</a></td>
                </tr>
                i++;
            }
            if (i == 0)
            {
                <tr class="even">
                    <td colspan="4" class="tabData">@localizer["NoUserInTable"]</td>
                </tr>
            }
        }
        else
        {
            <tr class="even">
                <td colspan="4" class="tabData">@localizer["HiddenDayboard"]</td>
            </tr>
        }
    </tbody>
</table>

<h3>@localizer["GeneralLeaderboard"]</h3>
<div class="smallTopMargin">
    <label class="mainFormSectionLabelSmall">@localizer["SortType"]</label>
    @Html.DropDownListFor(m => m.SortType, Model.SortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
</div>
<div class="smallTopMargin">
    <label class="mainFormSectionLabelSmall">@localizer["FromDate"]</label>
    @Html.EditorFor(m => m.MinimalDate)
</div>
<div class="smallTopMargin">
    <label class="mainFormSectionLabelSmall">@localizer["ToDate"]</label>
    @Html.EditorFor(m => m.MaximalDate)
</div>
<table id="globalLeaderboardTable" class="smallTopMargin">
    <thead>
        <tr>
            <th class="tabDataHead">@localizer["PosShortHeader"]</th>
            <th class="tabDataHead redtext">@localizer["UsernameHeader"]</th>
            <th class="tabDataHead">@localizer["PointsHeader"]</th>
            <th class="tabDataHead">@localizer["BestTimeHeader"]</th>
            <th class="tabDataHead">@localizer["FoundHeader"]</th>
            <th class="tabDataHead">@localizer["AttemptedHeader"]</th>
            <th class="tabDataHead">@localizer["ProposedHeader"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            var j = 0;
        }
        @if (Model.GlobalLeaderboard.Count > 0)
        {
            j = 0;
            foreach (var leader in Model.GlobalLeaderboard)
            {
                var trClass = j % 2 == 0 ? "even" : "odd";
                <tr class="@trClass">
                    <td class="tabData">@leader.Rank</td>
                    <td class="tabData redtext"><a href="/Leaderboard?userId=@leader.UserId">@leader.UserName</a></td>
                    <td class="tabData">@leader.Points</td>
                    <td class="tabData">@leader.BestTimeString</td>
                    <td class="tabData">@leader.KikolesFound</td>
                    <td class="tabData">@leader.KikolesAttempted</td>
                    <td class="tabData">@leader.KikolesProposed</td>
                </tr>
                j++;
            }
        }
        else
        {
            <tr class="even">
                <td colspan="7" class="tabData">@localizer["NoUserInTable"]</td>
            </tr>
        }
    </tbody>
</table>

<h3>
    <a href="/Leaderboard/Palmares">@localizer["PalmaresLink"]</a>
</h3>

<h3>@localizer["NewPageBuilding"]</h3>
<h4>
    <a href="/Leaderboard/Stats">@localizer["StatisticsPageLink"]</a>
</h4>
<h4>
    <a href="/Leaderboard/KikolesStats">@localizer["KikolesStatisticsPageLink"]</a>
</h4>

<script>
    $(function () {
        initializeLeaderboards(
            @Html.Raw(Json.Serialize(localizer["NoUserInTable"].Value)),
            @Html.Raw(Json.Serialize(localizer["NotYetTime"].Value)),
            @Html.Raw(Json.Serialize(localizer["NotYetPoints"].Value)),
            @Html.Raw(Json.Serialize(localizer["HiddenDayboard"].Value)));
    });
</script>