@model LeaderboardModel
<fieldset title="Leaderboard" style="margin-top: 10px">
    <form action="/Leaderboard" method="post">
        <div>
            <span>Sort type:</span>
            @Html.DropDownListFor(m => m.SortType, System.Enum.GetValues(typeof(KikoleSite.Api.LeaderSort)).Cast<KikoleSite.Api.LeaderSort>().Select(x => new SelectListItem(x.ToString(), x.ToString())), new { @style = "width: 150px" })
        </div>
        <div>
            <span>From minimal date:</span>
            @Html.TextBoxFor(m => m.MinimalDate, new { @style = "width: 150px" })
        </div>
        <div>
            <input type="submit" value="Afficher" />
        </div>
    </form>
    <div style="margin-top: 20px">
        <div style="font-size: large">General stats</div>
        <table style="margin-top: 5px">
            <thead>
                <tr>
                    <th style="width: 80px">Position</th>
                    <th style="color: crimson; width: 120px">Username</th>
                    <th style="width: 80px">Points</th>
                    <th style="width: 80px">Best time</th>
                    <th>Players found</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leader in Model.Leaders)
                {
                <tr>
                    <td>@leader.Position</td>
                    <td style="color: crimson"><a href="/Leaderboard?userId=@leader.Id">@leader.Login</a></td>
                    <td>@leader.TotalPoints</td>
                    <td>@leader.BestTime.ToString(@"hh\:mm")</td>
                    <td>@leader.SuccessCount</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px">
        <div style="font-size: large">Today's stats</div>
        <table style="margin-top: 5px">
            <thead>
                <tr>
                    <th style="width: 80px">Position</th>
                    <th style="color: crimson; width: 120px">Username</th>
                    <th style="width: 80px">Time</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leader in Model.TodayLeaders)
                {
                    <tr>
                        <td>@leader.Position</td>
                        <td style="color: crimson"><a href="/Leaderboard?userId=@leader.Id">@leader.Login</a></td>
                        <td>@leader.BestTime.ToString(@"hh\:mm")</td>
                        <td>@leader.TotalPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>