@using KikoleSite.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LeaderboardModel

<form action="/Leaderboard" method="post">
    <h3>@localizer["CustomizeLeaderboard"]</h3>
    <div style="margin-top: 5px">
        <label style="width: 150px; text-align: right">@localizer["SortType"]</label>
        @Html.DropDownListFor(m => m.SortType, Model.SortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
    </div>
    <div style="margin-top: 5px">
        <label style="width: 150px; text-align: right">@localizer["FromDate"]</label>
        @Html.EditorFor(m => m.MinimalDate)
    </div>
    <div style="margin-top: 5px">
        <label style="width: 150px; text-align: right">@localizer["ToDate"]</label>
        @Html.EditorFor(m => m.MaximalDate)
    </div>
    <div style="margin-top: 5px">
        <input style="margin-left: 155px" type="submit" value="@localizer["GetRanking"]" />
    </div>

    <h3>@Model.BoardName</h3>
    <span>(@Html.Raw(string.Format(localizer["LeaderboardDesc"].Value, Model.SortType.GetLabel(), Model.MinimalDate.ToNaString(), Model.MaximalDate.ToNaString())))</span>
    @{
        var loaderSize = 50;
        var loaderMargin = $"-{(loaderSize / 2)}px";
    }
    <img id="loading-image" width="@loaderSize" height="@loaderSize" src="/images/ajax-loader.gif" style="display: none; left: 50%; margin-left: @loaderMargin; margin-top: 100px;" />
    <table id="globalLeaderboardTable" style="margin-top: 5px">
        <thead>
            <tr>
                <th style="text-align: center; width: 50px">@localizer["PosShortHeader"]</th>
                <th class="redtext" style="text-align: center; width: 150px">@localizer["UsernameHeader"]</th>
                <th style="text-align: center; width: 75px">@localizer["PointsHeader"]</th>
                <th style="text-align: center; width: 100px">@localizer["BestTimeHeader"]</th>
                <th style="text-align: center; width: 75px">@localizer["FoundHeader"]</th>
                <th style="text-align: center; width: 75px">@localizer["AttemptedHeader"]</th>
                <th style="text-align: center; width: 75px">@localizer["ProposedHeader"]</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h3>@localizer["DailyLeaderboard"]</h3>
    @Html.EditorFor(m => m.LeaderboardDay)
    @Html.DropDownListFor(m => m.DaySortType, Model.DaySortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
    <input type="submit" value="Ok" />
    <table style="margin-top: 5px">
        <thead>
            <tr>
                <th style="width: 50px">@localizer["PosShortHeader"]</th>
                <th class="redtext" style="width: 150px">@localizer["UsernameHeader"]</th>
                <th style="width: 100px">@localizer["TimeHeader"]</th>
                <th>@localizer["PointsHeader"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @if (Model.Dayboard.Leaders.Count > 0)
            {
                i = 0;
                foreach (var leader in Model.Dayboard.Leaders)
                {
                    var trClass = leader.IsCreator ? "creator" : (i % 2 == 0 ? "even" : "odd");
                    <tr class="@trClass">
                        <td>@leader.Rank</td>
                        <td class="redtext"><a href="/Leaderboard?userId=@leader.UserId">@leader.UserName</a></td>
                        <td>@leader.Time.ToNaString()</td>
                        <td>@leader.Points</td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr style="background-color: white">
                    <td colspan="4">@localizer["NoUserInTable"]</td>
                </tr>
            }
        </tbody>
    </table>
    <label>@string.Format(localizer["ActiveUsers"].Value, Model.Dayboard.TotalAttemps, Model.Dayboard.TotalSuccessRate)</label><br />
    @if (Model.Dayboard.TotalAttemps != Model.Dayboard.DayAttemps)
    {
        <label>@string.Format(localizer["ActiveUsersToday"].Value, Model.Dayboard.DayAttemps, Model.Dayboard.DaySuccessRate)</label>
    }
    <table style="margin-top: 5px">
        <thead>
            <tr>
                <th class="redtext" style="width: 150px">@localizer["UsernameHeaderInGoing"]</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Dayboard.Searchers.Count > 0)
            {
                i = 0;
                foreach (var searcher in Model.Dayboard.Searchers)
                {
                    var background = (i % 2 == 0 ? "white" : "azure");
                    <tr style="background-color: @background">
                        <td class="redtext"><a href="/Leaderboard?userId=@searcher.UserId">@searcher.UserName</a></td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr style="background-color: white">
                    <td>@localizer["NoUserInTable"]</td>
                </tr>
            }
        </tbody>
    </table>
</form>
<h3>@localizer["NewPageBuilding"]</h3>
<a href="/Leaderboard/Stats">@localizer["StatisticsPageLink"]</a>
<br />
<a href="/Leaderboard/Palmares">@localizer["PalmaresLink"]</a>
<br />
<a href="/Leaderboard/KikolesStats">@localizer["KikolesStatisticsPageLink"]</a>

<script>
    $(function () {
        var sortTypeJs = @Html.Raw(Json.Serialize(Model.SortType));
        var minimalDateJs = @Html.Raw(Json.Serialize(Model.MinimalDate.ToString("yyyy-MM-dd")));
        var maximalDateJs = @Html.Raw(Json.Serialize(Model.MaximalDate.ToString("yyyy-MM-dd")));
        var noUserInTableTextJs = @Html.Raw(Json.Serialize(localizer["NoUserInTable"].Value));
        loadGlobalLeaderboard(sortTypeJs, minimalDateJs, maximalDateJs, noUserInTableTextJs);
    });
</script>