@using KikoleSite.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LeaderboardModel

<form action="/Leaderboard" method="post">
    <h3>@localizer["DailyLeaderboard"]</h3>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabelSmall">@localizer["SortType"]</label>
        @Html.DropDownListFor(m => m.DaySortType, Model.DaySortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabelSmall">@localizer["Date"]</label>
        @Html.EditorFor(m => m.LeaderboardDay)
    </div>
    <table id="dailyLeaderboardTable" class="smallTopMargin">
        <thead>
            <tr>
                <th class="tabDataHead">@localizer["PosShortHeader"]</th>
                <th class="tabDataHead redtext">@localizer["UsernameHeader"]</th>
                <th class="tabDataHead">@localizer["TimeHeader"]</th>
                <th class="tabDataHead">@localizer["PointsHeader"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @if (Model.Dayboard.Leaders.Count > 0)
            {
                i = 0;
                foreach (var leader in Model.Dayboard.Leaders)
                {
                    var trClass = leader.IsCreator ? "creator" : (i % 2 == 0 ? "even" : "odd");
                    <tr class="@trClass">
                        <td class="tabData">@leader.Rank</td>
                        <td class="tabData redtext"><a href="/Leaderboard?userId=@leader.UserId">@leader.UserName</a></td>
                        <td class="tabData">@leader.TimeString</td>
                        <td class="tabData">@leader.Points</td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr class="even">
                    <td colspan="4">@localizer["NoUserInTable"]</td>
                </tr>
            }
        </tbody>
    </table>
    <table id="dailySearchersTable" class="smallTopMargin">
        <thead>
            <tr>
                <th class="tabDataHead redtext" style="width: 150px">@localizer["UsernameHeaderInGoing"]</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Dayboard.Searchers.Count > 0)
            {
                i = 0;
                foreach (var searcher in Model.Dayboard.Searchers)
                {
                    var trClass = (i % 2 == 0 ? "even" : "odd");
                    <tr class="@trClass">
                        <td class="tabData redtext"><a href="/Leaderboard?userId=@searcher.UserId">@searcher.UserName</a></td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr class="even">
                    <td>@localizer["NoUserInTable"]</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>@localizer["GeneralLeaderboard"]</h3>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabelSmall">@localizer["SortType"]</label>
        @Html.DropDownListFor(m => m.SortType, Model.SortTypes.Select(x => new SelectListItem(x.GetLabel(), x.ToString())))
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabelSmall">@localizer["FromDate"]</label>
        @Html.EditorFor(m => m.MinimalDate)
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabelSmall">@localizer["ToDate"]</label>
        @Html.EditorFor(m => m.MaximalDate)
    </div>
    @{
        var loaderSize = 50;
        var loaderMargin = $"-{(loaderSize / 2)}px";
    }
    <img id="loading-image" width="@loaderSize" height="@loaderSize" src="/images/ajax-loader.gif" style="display: none; left: 50%; margin-left: @loaderMargin; margin-top: 100px;" />
    <table id="globalLeaderboardTable" class="smallTopMargin">
        <thead>
            <tr>
                <th class="tabDataHead">@localizer["PosShortHeader"]</th>
                <th class="tabDataHead redtext">@localizer["UsernameHeader"]</th>
                <th class="tabDataHead">@localizer["PointsHeader"]</th>
                <th class="tabDataHead">@localizer["BestTimeHeader"]</th>
                <th class="tabDataHead">@localizer["FoundHeader"]</th>
                <th class="tabDataHead">@localizer["AttemptedHeader"]</th>
                <th class="tabDataHead">@localizer["ProposedHeader"]</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</form>
<h3>@localizer["NewPageBuilding"]</h3>
<a href="/Leaderboard/Stats">@localizer["StatisticsPageLink"]</a>
<br />
<a href="/Leaderboard/Palmares">@localizer["PalmaresLink"]</a>
<br />
<a href="/Leaderboard/KikolesStats">@localizer["KikolesStatisticsPageLink"]</a>

<script>
    $(function () {
        var noUserInTableTextJs = @Html.Raw(Json.Serialize(localizer["NoUserInTable"].Value));

        /* global */
        var sortType = document.getElementById('SortType');
        var fromDate = document.getElementById('MinimalDate');
        var toDate = document.getElementById('MaximalDate');
        sortType.onchange = function () {
            loadGlobalLeaderboard(sortType.value, fromDate.value, toDate.value, noUserInTableTextJs);
        };
        fromDate.onchange = function () {
            loadGlobalLeaderboard(sortType.value, fromDate.value, toDate.value, noUserInTableTextJs);
        };
        toDate.onchange = function () {
            loadGlobalLeaderboard(sortType.value, fromDate.value, toDate.value, noUserInTableTextJs);
        };
        loadGlobalLeaderboard(sortType.value, fromDate.value, toDate.value, noUserInTableTextJs);

        /* daily */
        var dailySortType = document.getElementById('DaySortType');
        var dailyDate = document.getElementById('LeaderboardDay');
        dailySortType.onchange = function () {
            loadDailyLeadeboard(dailySortType.value, dailyDate.value, noUserInTableTextJs);
        };
        dailyDate.onchange = function () {
            loadDailyLeadeboard(dailySortType.value, dailyDate.value, noUserInTableTextJs);
        };
    });
</script>