@{
    var loaderSize = 50;
    var loaderMargin = $"-{(loaderSize / 2)}px";
}
<h3>Statistiques sur les kikolés</h3>
<img id="loading-image" width="@loaderSize" height="@loaderSize" src="/images/ajax-loader.gif" style="display: none; left: 50%; margin-left: @loaderMargin; margin-top: 100px;" />
<div id="sort-block">
    <label for="sort-selection">Tri :</label>
    <select id="sort-selection">
        <option value="@KikoleSite.Models.Enums.PlayerSorts.AttempsCountOverall.ToString()">Joueurs ayant tentés (total)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.AttempsCountSameDay.ToString()" selected>Joueurs ayant tentés (jour même)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.BestTime.ToString()">Meilleur temps</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.CreatorLogin.ToString()">Créateur</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.LeadersCountOverall.ToString()">Joueurs ayant trouvés (total)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.LeadersCountSameDay.ToString()">Joueurs ayant trouvés (jour même)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.Name.ToString()">Nom</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.PointsOverall.ToString()">Moyenne de points (total)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.PointsSameDay.ToString()">Moyenne de points (jour même)</option>
        <option value="@KikoleSite.Models.Enums.PlayerSorts.ProposalDate.ToString()">Date</option>
    </select>
    <label for="sort-desc-selection">Décroissant :</label>
    <input type="checkbox" checked id="sort-desc-selection" />
</div>
<table style="margin-top: 10px" id="kikolesStatsTab">
    <thead>
        <tr>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Nom</th>
            <th style="text-align: center">Créateur</th>
            <th style="text-align: center">Moyenne de points (jour même)</th>
            <th style="text-align: center">Joueurs ayant tentés (jour même)</th>
            <th style="text-align: center">Joueurs ayant trouvés (jour même)</th>
            <th style="text-align: center">Moyenne de points (total)</th>
            <th style="text-align: center">Joueurs ayant tentés (total)</th>
            <th style="text-align: center">Joueurs ayant trouvés (total)</th>
            <th style="text-align: center">Meilleur temps</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(function () {
        var descCheckBox = document.getElementById('sort-desc-selection');
        var sortSelect = document.getElementById('sort-selection');
        descCheckBox.onchange = function () {
            loadKikolesStats(sortSelect.value, descCheckBox.checked);
        };
        sortSelect.onchange = function() {
            loadKikolesStats(sortSelect.value, descCheckBox.checked);
        }
        loadKikolesStats('AttempsCountSameDay', true);
    });
</script>