@using KikoleSite.Helpers
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model UserStatsModel

<h3>@localizer["GeneralInfo"]</h3>
<fieldset class="smallTopMargin">
    <legend class="redtext">@Model.Login</legend>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["RegistrationDate"]</label>
        <label class="redtext">@Model.RegistrationDate.ToNaString()</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["BestTime"]</label>
        <label class="redtext">@Model.BestTime</label>
    </div>
</fieldset>

<fieldset class="smallTopMargin">
    <legend>@localizer["CurrentDay"]</legend>
    <div>
        <label class="mainFormSectionLabel">@localizer["Attempts"]</label>
        <label class="redtext">@Model.AttemptsDayOne (@Model.AttemptDayOneRate %)</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["Successes"]</label>
        <label class="redtext">@Model.SuccessesDayOne (@Model.SuccessDayOneRate %)</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["TotalScore"]</label>
        <label class="redtext">@Model.TotalPointsDayOne</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["AveragePoints"]</label>
        <label class="redtext">@Model.PointsPerAttemptDayOne</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["BestScore"]</label>
        <label class="redtext">@Model.BestPointsDayOne</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["AverageTime"]</label>
        <label class="redtext">@Model.AverageTimeDayOne</label>
    </div>
</fieldset>

<fieldset class="smallTopMargin">
    <legend>@localizer["IncludingOutOfTime"]</legend>
    <div>
        <label class="mainFormSectionLabel">@localizer["Attempts"]</label>
        <label class="redtext">@Model.Attempts (@Model.AttemptRate %)</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["Successes"]</label>
        <label class="redtext">@Model.Successes (@Model.SuccessRate %)</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["TotalScore"]</label>
        <label class="redtext">@Model.TotalPoints</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["AveragePoints"]</label>
        <label class="redtext">@Model.PointsPerAttempt</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["BestScore"]</label>
        <label class="redtext">@Model.BestPoints</label>
    </div>
    <div class="smallTopMargin">
        <label class="mainFormSectionLabel">@localizer["AverageTime"]</label>
        <label class="redtext">@Model.AverageTime</label>
    </div>
</fieldset>

<h3>@localizer["StatsByDay"]</h3>
<table class="mediumTopMargin">
    <thead>
        <tr>
            <th class="tabDataHead">@localizer["DateHeader"]</th>
            <th class="tabDataHead">@localizer["AnswerHeader"]</th>
            <th class="tabDataHead">@localizer["AttemptHeader"] *</th>
            <th class="tabDataHead">@localizer["SuccessHeader"] *</th>
            <th class="tabDataHead">@localizer["PointsHeader"]</th>
            <th class="tabDataHead">@localizer["PointsRankHeader"]</th>
            <th class="tabDataHead">@localizer["TimeHeader"]</th>
            <th class="tabDataHead">@localizer["TimeRankHeader"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @foreach (var stat in Model.Stats)
        {
            var attemptTdClass = stat.AttemptDayOne == true ? "tabDataBold" : "tabData";
            var successTdClass = stat.SuccessDayOne == true ? "tabDataBold" : "tabData";
            var trClass = stat.IsCreator ? "creator" : (i % 2 == 0 ? "even" : "odd");
            <tr class="@trClass">
                <td class="tabData"><a href="/?day=@stat.DaysBefore">@stat.Date.ToNaString()</a></td>
                <td class="tabData">@stat.Answer</td>
                <td class="@attemptTdClass">@stat.Attempt.ToYesNo()</td>
                <td class="@successTdClass">@stat.Success.ToYesNo()</td>
                <td class="tabData">@stat.Points.ToNaString()</td>
                <td class="tabData">@stat.PointsPosition.ToNaString()</td>
                <td class="tabData">@stat.Time.ToNaString()</td>
                <td class="tabData">@stat.TimePosition.ToNaString()</td>
            </tr>
            i++;
        }
    </tbody>
</table>
<div>@localizer["BoldFirstDay"]</div>

<h3>@localizer["BadgesHead"]</h3>
<fieldset class="smallTopMargin">
    <legend>@localizer["BadgeYouOwn"]</legend>
    @if (Model.Badges.Count == 0)
    {
        <div>@localizer["NoBadge"]</div>
    }
    else
    {
        foreach (var badge in Model.Badges)
        {
            var color = !badge.Hidden ? "transparent" : "gold";
            <div class="smallTopMargin" style="float: left; width: 350px; min-height: 120px; border: solid 1px; border-color: black; padding: 5px; margin: 5px; border-radius: 5%; background-color: @color">
                <div class="greentext" style="text-align:center; font-size: large">@badge.Name</div>
                <div style="text-align:center">@badge.Description</div>
                @if (!badge.Hidden)
                {
                    <div style="text-align:center">@localizer["GotThe"] @badge.GetDate.ToNaString()</div>
                }
                @if (Model.IsHimself)
                {
                    if (badge.Users == 1)
                    {
                        <div style="text-align:center; font-weight: bold">@localizer["OnlyOne"]</div>
                    }
                    else
                    {
                        var v = badge.Users - 1;
                        <div style="text-align:center"><span class="redtext">@v</span> @localizer[v == 1 ? "OtherUser" : "OtherUsers"]</div>
                    }
                }
                else
                {
                    if (badge.Users == 1)
                    {
                        <div style="text-align:center; font-weight: bold">@localizer["OnlyOneNotMe"]</div>
                    }
                    else
                    {
                        <div style="text-align:center"><span class="redtext">@badge.Users</span> @localizer["OtherUsersNotMe"]</div>
                    }
                }
            </div>
        }
        <div style="clear: both" />
    }
</fieldset>

<fieldset class="smallTopMargin">
    <legend>@localizer["BadgeYouDontOwn"]</legend>
    @if (Model.MissingBadges.Count == 0)
    {
        <div>@localizer["EveryBadge"]</div>
    }
    else
    {
        foreach (var badge in Model.MissingBadges)
        {
            <div class="smallTopMargin" style="float: left; width: 350px; min-height: 120px; border: solid 1px; padding: 5px; margin: 5px; border-radius: 5%;">
                <div class="redtext" style="text-align:center; font-size: large">@badge.Name</div>
                <div style="text-align:center">@badge.Description</div>
                @if (badge.Users == 0)
                {
                    <div style="text-align:center; font-weight: bold"><span class="redtext">@localizer["Nobody"]</span> @localizer["NoUserBadges"]</div>
                }
                else
                {
                    <div style="text-align:center; font-weight: bold"><span class="redtext">@badge.Users</span> @localizer[badge.Users == 1 ? "UserBadges" : "UsersBadges"]</div>
                }
            </div>
        }
        <div style="clear: both" />
    }
</fieldset>