@model KikoleSite.Api.ProposalChart
<fieldset id="how_to_play" title="How to play?" style="margin-top: 10px">
    <span style="color: crimson; font-size: large">"Kikole?"</span> is a game where you have to guess a new football player every single day.<br />
    The way to do this is to figure out in which clubs he played (or currently plays) during his career.<br />
    You can also try to guess his nationality, birth year or position on the field.<br />
    <ul>
        <li>The player can be active or retired.</li>
        <li>All text submissions are case-insensitive and diacritics is ignored.</li>
        <li>You can propose a name at any time (no need to find every clue)</li>
    </ul>
    Score is computed with following rules:
    <ul>
        <li>You start with <span style="color: forestgreen; font-size: large">@Model.BasePoints</span> points</li>
        <li>Asking for the clue costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Clue]</span> points</li>
        <li>An incorrect player proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Name]</span> points</li>
        <li>An incorrect club proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Club]</span> points</li>
        <li>An incorrect country proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Country]</span> points</li>
        <li>An incorrect year proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Year]</span> points</li>
        <li>An incorrect position proposition costs <span style="color: crimson; font-size: large">@Model.ProposalTypesCost[KikoleSite.Api.ProposalType.Position]</span> points</li>
        <li>A good guess on any category costs <span style="color: forestgreen; font-size: large">no points</span></li>
    </ul>
</fieldset>