@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AdminModel

@if (!string.IsNullOrWhiteSpace(Model?.ActionFeedback))
{
    <div style="margin-bottom: 10px">
        @Model.ActionFeedback
    </div>
}

<h3>@localizer["AdminActions"]</h3>
<form method="post" action="/Admin/Actions">
    <div>
        <input type="submit" value="@localizer["RecomputeBadges"]" name="submit-recomputebadges" />
    </div>
    <div class="mediumTopMargin">
        <input type="submit" value="@localizer["RecomputeLeaders"]" name="submit-recomputeleaders" />
    </div>
    <div class="mediumTopMargin">
        <input type="submit" value="@localizer["ReassignPlayers"]" name="submit-reassignplayers" />
    </div>
    <fieldset class="mediumTopMargin">
        <legend>@localizer["AddGlobalMessage"]</legend>
        <div>
            @Html.TextBoxFor(m => m.Message, new { @style = "width: 400px" });
        </div>
        <div class="smallTopMargin">
            @Html.EditorFor(m => m.MessageDateStart);
        </div>
        <div class="smallTopMargin">
            @Html.EditorFor(m => m.MessageDateEnd);
        </div>
        <input class="smallTopMargin" type="submit" value="@localizer["ActionAddMessage"]" name="submit-insertmessage" />
    </fieldset>
</form>

@if (Model.Discussions?.Count > 0)
{
    <h3>Discussions</h3>
    <table>
        <thead>
            <tr>
                <th style="width: 50px">User</th>
                <th style="width: 150px">Email</th>
                <th style="width: 100px">Date</th>
                <th style="width: 300px">Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var discussion in Model.Discussions)
            {
                <tr>
                    <td>@discussion.UserId</td>
                    <td>@discussion.Email</td>
                    <td>@discussion.CreationDate</td>
                    <td>@Html.Raw(discussion.Message)</td>
                </tr>
            }
        </tbody>
    </table>
}