@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ClubCreationModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="redtext mediumTopMargin">Error: @Model.ErrorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(Model.InfoMessage))
{
    <div class="greentext mediumTopMargin">@Model.InfoMessage</div>
}

<h3>@localizer["CreateClubTitle"]</h3>
<form method="post" action="/Admin/Club">
    @if (Model.Id == 0)
    {
        <div class="largeTopMargin">
            <div>
                <label>@localizer["SearchAlreadyExists"]</label>
            </div>
            <div>
                <input type="text" name="dummyClub" id="clubName" style="width: 250px" />
            </div>
        </div>
    }
    else
    {
        <div class="largeTopMargin">
            @if (Model.Id > 1)
            {
                <a href="/Admin/Club?clubId=@(Model.Id - 1)">Précédent</a>
                <span> - </span>
            }
            <a href="/Admin/Club?clubId=@(Model.Id + 1)">Suivant</a>
        </div>
    }
    <div class="largeTopMargin">
        <div>
            <label>@localizer["MainNameEn"]</label>
        </div>
        @Html.TextBoxFor(x => x.MainName, null, new { @style = "width: 250px" })
    </div>
    <div class="largeTopMargin">
        <div>
            <label>@localizer["MainNameFr"]</label>
        </div>
        @Html.TextBoxFor(x => x.AlternativeName0, null, new { @style = "width: 250px" })
    </div>

    <div class="largeTopMargin">
        <label>@localizer["AlternativeNames"]</label>
    </div>
    <div class="smallTopMargin">
        @Html.TextBoxFor(x => x.AlternativeName1, null, new { @style = "width: 250px" })
    </div>
    <div class="smallTopMargin">
        @Html.TextBoxFor(x => x.AlternativeName2, null, new { @style = "width: 250px" })
    </div>
    <div class="smallTopMargin">
        @Html.TextBoxFor(x => x.AlternativeName3, null, new { @style = "width: 250px" })
    </div>
    <div class="smallTopMargin">
        @Html.TextBoxFor(x => x.AlternativeName4, null, new { @style = "width: 250px" })
    </div>
    <div style="font-size: small">(@localizer["AlternativeTip"])</div>
    <div style="font-size: small">(@localizer["DontMindDiacritics"])</div>

    <div class="largeTopMargin">
        @Html.HiddenFor(x => x.Id)
        <input type="submit" name="submit-club" value="@localizer["DoCreate"]" />
    </div>
</form>