@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ClubCreationModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="redtext" style="margin-top: 10px">Error: @Model.ErrorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(Model.InfoMessage))
{
    <div style="color:forestgreen; margin-top: 10px">@Model.InfoMessage</div>
}

<h3>@localizer["CreateClubTitle"]</h3>
<form method="post" action="/Admin/Club">
    <div style="margin-top: 20px">
        <div>
            <label>@localizer["SearchAlreadyExists"]</label>
        </div>
        <div>
            <input type="text" name="dummyClub" id="clubName" style="width: 250px" />
        </div>
    </div>
    <div style="margin-top: 20px">
        <div><label>@localizer["MainNameEn"]</label></div>
        <input type="text" name="MainName" style="width: 250px" />
    </div>
    <div style="margin-top: 20px">
        <div><label>@localizer["MainNameFr"]</label></div>
        <input type="text" name="AlternativeName0" style="width: 250px" />
    </div>

    <div style="margin-top: 20px"><label>@localizer["AlternativeNames"]</label></div>
    @for (var i = 1; i < 4; i++)
    {
        var name = $"AlternativeName{i}";
        <div style="margin-top: 5px">
            <input type="text" name="@name" style="width: 250px" />
        </div>
    }
    <div style="font-size: small">(@localizer["AlternativeTip"])</div>
    <div style="font-size: small">(@localizer["DontMindDiacritics"])</div>

    <div style="margin-top: 20px">
        <input type="submit" name="submit-club" value="@localizer["DoCreate"]" />
    </div>
</form>