@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model PlayerCreationModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div style="color:crimson; margin-top: 10px">@Model.ErrorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(Model.InfoMessage))
{
    <div style="color:forestgreen; margin-top: 10px">@Model.InfoMessage</div>
}

@if (Model.DisplayPlayerSubmissionLink)
{
    <div style="margin-top: 10px"><a href="/Admin/PlayerSubmission">@localizer["CheckSubmittedPlayers"]</a></div>
}

<h3>@localizer["SubmitPlayerTitle"]</h3>
<form method="post" action="/Admin">
    <div style="margin-top: 20px">
        <div><label>@localizer["Name"]</label></div>
        <input type="text" name="Name" style="width: 250px" />
        <div style="font-size: small">(@localizer["WikiPlayerName"])</div>
    </div>

    <div style="margin-top: 20px">
        <label>@localizer["AlternativeNames"]</label>
    </div>
    @for (var i = 0; i < 5; i++)
    {
        var name = $"AlternativeName{i}";
        <div style="margin-top: 5px">
            <input type="text" name="@name" style="width: 250px" />
        </div>
    }
    <div style="font-size: small">(@localizer["AltNameTip1"])</div>
    <div style="font-size: small">(@localizer["AltNameTip2"])</div>

    <div style="margin-top: 20px">
        <div>
            <label>@localizer["YearOfBirth"]</label>
        </div>
        <script>
            $(function () {
                var availableTags = [];
                for (var i = 1900; i <= 2010; i++)
                    availableTags.push(i.toString());
                $("#birthYearValue").autocomplete({
                    source: availableTags,
                    select: function (e, i) {
                        $("#birthYearValue").val(i.item.value);
                    },
                    minLength: 1
                });
            });
        </script>
        <input type="text" id="birthYearValue" name="YearOfBirth" style="width: 100px" />
    </div>

    <div style="margin-top: 20px">
        <div>
            <label>@localizer["Nationality"]</label>
        </div>
        <script>
            $(function () {
                $("#countryName").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: '/Admin/AutoCompleteCountries/',
                            data: {
                                "prefix": request.term
                            },
                            type: "POST",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            }
                        });
                    },
                    select: function (e, i) {
                        $("#countryId").val(i.item.key);
                        $("#submitCountry").click();
                    },
                    minLength: 1
                });
            });
        </script>
        <div>
            <input type="text" id="countryName" name="CountryNameSubmissionValue" style="width: 300px" />
            <input type="hidden" id="countryId" name="Country" />
        </div>
        <div style="font-size: small">(@localizer["TipAboutNationality"])</div>
    </div>

    @if (Model.DisplayPlayerSubmissionLink)
    {
        <div style="margin-top: 20px">
            <div>
                <label>@localizer["ClueEn"]</label>
            </div>
            <input type="text" name="ClueEn" style="width: 300px" />
        </div>

        <div style="margin-top: 20px">
            <div>
                <label>@localizer["ClueFr"]</label>
            </div>
            <input type="text" name="ClueFr" style="width: 300px" />
        </div>
    }
    else
    {
        <div style="margin-top: 20px">
            <div>
                <label>@localizer["Clue"]</label>
            </div>
            <input type="text" name="ClueEn" style="width: 300px" />
            <div style="font-size: small">(@localizer["AcceptedLanguages"])</div>
            <div style="font-size: small">(@localizer["AdminOverrideClue"])</div>
        </div>
    }

    <div style="margin-top: 20px">
        <div><label>@localizer["Position"]</label></div>
        @Html.DropDownListFor(m => m.Position, Model.Positions, new { @style = "width: 150px" })
        <div style="font-size: small">(@localizer["AvoidAmbiguousPos"])</div>
    </div>

    <div style="margin-top: 20px">
        <div>
            <label>@localizer["ClubsCareer"]</label>
        </div>
        <div>
            <a href="/Admin/Club" target="_blank">@localizer["AddClubTab"]</a>
        </div>
        <div style="font-size: small">(@localizer["ClubsTip1"])</div>
        @for (var i = 0; i < 10; i++)
        {
            var name = $"Club{i}";
            <script>
                $(function () {
                    $("#@name").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: '/Admin/AutoCompleteClubs/',
                                data: {
                                    "prefix": request.term
                                },
                                type: "POST",
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return item;
                                    }))
                                }
                            });
                        },
                        select: function (e, i) {
                            $("#@name").val(i.item.value);
                        },
                        minLength: 1
                    });
                });
            </script>
            <div style="margin-top: 5px">
                <input type="text" id="@name" name="@name" style="width: 250px" />
            </div>
        }
    </div>
    <div style="font-size: small">(@localizer["ClubsTip2"])</div>
    <div style="font-size: small">(@localizer["ClubsTip3"])</div>

    <div style="margin-top: 20px">
        <label>@localizer["RemainsAnonymous"]</label> @Html.CheckBoxFor(m => m.HideCreator)
    </div>
    <div style="font-size: small">(@localizer["RemainsAnonymousTip"])</div>

    <div style="margin-top: 20px">
        <input type="submit" name="submit-club" value="@localizer["SubmitPlayerGo"]" />
    </div>

    <div style="margin-top: 20px">
        @Html.Raw(string.Format(localizer["ChartLaius"].Value, Model.Chart.SubmissionMaxPoints, Model.Chart.SubmissionLosePointsByLeader, Model.Chart.SubmissionThresholdlosePoints, Model.Chart.SubmissionBasePoints))
    </div>
</form>