@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model PlayerSubmissionsModel

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="redtext" style="margin-top: 10px">Error: @Model.ErrorMessage</div>
}
else if (!string.IsNullOrWhiteSpace(Model.InfoMessage))
{
    <div class="greentext" style="margin-top: 10px">@Model.InfoMessage</div>
}

@if (Model.SelectedPlayer != null)
{
    <form method="post" action="/Admin/PlayerSubmission">
        <div style="margin-top: 20px">
            <div>
                <label>@localizer["CreatorLogin"]</label>
                <div>@Model.SelectedPlayer.Login</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["Name"]</label>
                <div>@Model.SelectedPlayer.Name</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["AllowedNames"]</label>
                <div>@Model.SelectedPlayer.AllowedNames</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["YearOfBirth"]</label>
                <div>@Model.SelectedPlayer.YearOfBirth</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["Country"]</label>
                <div>@Model.SelectedPlayer.Country</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["Clue"]</label>
                <div>@Model.SelectedPlayer.Clue</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["EasyClue"]</label>
                <div>@Model.SelectedPlayer.EasyClue</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["Position"]</label>
                <div>@Model.SelectedPlayer.Position</div>
            </div>
            <div style="margin-top: 10px">
                <label>@localizer["Clubs"]</label>
                @foreach (var club in Model.SelectedPlayer.Clubs.OrderBy(x => x.HistoryPosition))
                {
                    if (club.IsLoan)
                    {
                        <div>@club.HistoryPosition - @club.Name - (@localizer["LoanInitial"])</div>
                    }
                    else
                    {
                        <div>@club.HistoryPosition - @club.Name</div>
                    }
                }
            </div>
            <div style="margin-top: 5px">
                <label>@localizer["CheckClubName"]</label>
                <div>
                    <input type="text" name="dummyClub" id="clubName" style="width: 250px" />
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.SelectedId)
        <div style="margin-top: 20px">
            <label>@localizer["AcceptPlayer"]</label>
            <div>
                <input type="text" name="ClueOverwriteEn" style="width: 300px" /> (@localizer["EnShort"])
            </div>
            <div>
                <input type="text" name="ClueOverwriteFr" style="width: 300px" /> (@localizer["FrShort"])
            </div>
            <div>@localizer["EasyClue"]</div>
            <div>
                <input type="text" name="EasyClueOverwriteEn" style="width: 300px" /> (@localizer["EnShort"])
            </div>
            <div>
                <input type="text" name="EasyClueOverwriteFr" style="width: 300px" /> (@localizer["FrShort"])
            </div>
            <input type="submit" value="@localizer["Ok"]" name="submit-accepted" />
        </div>
        <div style="margin-top: 20px">
            <label>@localizer["RefusePlayer"]</label>
            <div>
                <input type="text" name="RefusalReason" style="width: 300px" />
                <input type="submit" value="@localizer["Ko"]" name="submit-refusal" />
            </div>
        </div>
    </form>
}
else
{
    if (Model.Players.Count == 0)
    {
        <div style="margin-top: 20px">
            <label>@localizer["NoPlayerToValidate"]</label>
        </div>
    }
    else
    {
        <form method="post" action="/Admin/PlayerSubmission">
            <div style="margin-top: 20px">
                <label>@localizer["SelectPlayer"]</label>
                <div>
                    @Html.DropDownListFor(m => m.SelectedId, Model.Players.Select(p => new SelectListItem(p.Name, p.Id.ToString())))
                </div>
                <div>
                    <input type="submit" value="Pick" name="submit-pchoice" />
                </div>
            </div>
        </form>
    }
}